@import url("https://rsms.me/inter/inter.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #2a2c2f;
  color: #ffffff;
}

.container__l {
  max-width: 983px;
  margin-left: auto;
  margin-right: auto;
}

.container__s {
  max-width: 1183px;
  margin-left: auto;
  margin-right: auto;
}

.active {
  text-decoration: underline;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 7.25rem;
}

#header .lang__swap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
}

#header .lang__swap .swap__links {
  font-size: 1.5rem;
  padding-right: 1.1rem;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 1050px;
  -webkit-transform: translateY(-14px);
          transform: translateY(-14px);
}

#hero .hero__title {
  font-size: 6rem;
  font-weight: 900;
  line-height: 6.3rem;
  padding-bottom: 0.5rem;
}

#hero .hero__description {
  font-size: 1.88rem;
  padding: 2rem 0;
}

#hero .hero__showcase .showcase__image {
  display: inline-block;
  width: 983px;
  height: 616px;
}

#hero .hero__showcase .showcase__text {
  font-size: 0.635rem;
  letter-spacing: 0.085rem;
  line-height: 0.4rem;
  text-transform: uppercase;
  text-align: left;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 660px;
}

#about .about__title {
  font-size: 3.35rem;
  font-weight: 900;
  letter-spacing: 0.01rem;
  line-height: 3.64rem;
  padding-bottom: 0.5rem;
}

#about .about__description {
  font-size: 1.5rem;
  line-height: 2.15rem;
  padding: 2rem 0;
  width: 75%;
}

#about .about__text {
  line-height: 1.65rem;
  width: 70%;
}

#about .about__details {
  padding: 2rem 0;
}

#about .about__details .details__text {
  font-size: 0.75rem;
  line-height: 1.15rem;
}

#about .about__details .details__text .bold {
  font-weight: 700;
}

#gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding-bottom: 2rem;
}

#gallery .gallery__item {
  display: block;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: 100%;
     object-position: 100%;
  width: 285px;
  height: 210px;
}

#route {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#route .cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
}

#route .cities .cities__title {
  font-size: 4.5rem;
  line-height: 4.75rem;
  font-weight: 900;
  padding-bottom: 4.75rem;
  padding-top: 1rem;
}

#route .cities .cities__showcase {
  display: inline-block;
  width: 460px;
}

#route .cities .right {
  margin-left: 2.3rem;
}

#route .cities .right .cities__url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}

#route .cities .right .cities__url .url__text {
  color: #a1a4a7;
  font-size: 0.76rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  padding: 0.8rem 0 0.7rem 0;
}

#route .cities .right .cities__url .url__link {
  display: block;
  color: #ffffff;
  font-size: 1.12rem;
  padding-bottom: 0.8rem;
}

#route .cities .right .cities__description {
  font-size: 1.22rem;
  line-height: 1.7rem;
  padding-top: 2rem;
}

#route .cities .right .cities__cost {
  font-size: 1.15rem;
  line-height: 1.7rem;
  padding-top: 2rem;
}

#route .new__hampshire .right .cities__url .url__text {
  padding-top: 5.5rem;
}

#showcase {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1183px;
  height: 745px;
  background: url(../img/route-66.jpg) no-repeat left/cover;
  margin: 3.45rem auto 5rem auto;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

#showcase .showcase__title {
  font-size: 4.5rem;
  font-weight: 900;
  padding-top: 4.35rem;
  z-index: 1;
}

#showcase .showcase__description {
  font-size: 1.125rem;
  text-align: center;
  width: 25%;
  padding-top: 3rem;
  z-index: 1;
}

#showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  -webkit-transition: inherit;
  transition: inherit;
}

#showcase:hover::before {
  opacity: 0.8;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.9rem auto;
}

#footer .footer__links {
  color: #ffffff;
  text-decoration: none;
}

#footer .footer__links:nth-child(2) {
  padding: 0 0.8rem;
}

#footer .footer__heart {
  width: 26px;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}